/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
h3{
	font-size: 25px;
	margin-top: 20px;
	
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */


div{
line-height: 1.25;
}

/* paragraphs */
p{
font-size: 20px;
padding: 10px;
}




.container{
	width: 900px;
	margin: 0 auto;
	 /* background: pink; */
}

/* buttons, great idea img  */
nav{
	 display: flex;
	 justify-content: space-around;
	  
	 

}

/* services, product, about, contact  */
a{
	display: flex;
	margin:1%;
	color: gray;
	
}



.main-header{
	display: flex;
	justify-content: center;
	
}

/* Column bottom: facts about and girl computer iimg */
.columnbottom{
	display: flex;
	justify-content: center;
}

/* line bottom */
hr.style1{
    border-top: 2px solid black;
}

/*  inovation on demand */

.column{
	
	width: 45%;
	margin: 0 2.5%;
	font-size: 55px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.column2{
	 width: 45%; 
	margin: 0 2.5%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: left;
	
}

/* button */
button{
	width: 160px;
	height: 30px;
	
	}

.services-header-img{
	display: flex;
}

.services-info-img{
	display: flex;
}



header .logo{
	margin-left: 25px;
}

/* features and about */
.middle-container{
	display: flex;
	justify-content: center;
	
}

.middle-img{
	display: flex;
}


.bottom-container{
	display: flex;
}

/* Services Page */

.sixboxes{
	display: flex;
	justify-content: flex-start; 
	/* background: green;  */
}

	.boxes{
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		padding: 5%;
		border: 2px solid black;
		background: #f4f3f4;
		margin: 10% 5%;
	}


footer {
	margin-bottom: 20px;
	text-align: left;
}

 .footer-text{
	 text-align: center;
 }
